/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@layer{
  @font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-alternates-medium.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* Definición de la animación fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Clase personalizada para aplicar la animación */
.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
